/* Banner Section */
*{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.banner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.banner-background-color {
    background-color: rgba(229, 84, 115, 0.10);
}
.container {
  max-width: 1260px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
}
.banner-discription h2{
    color: #272727;
    font-style: normal;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-discription p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
}
/* Our Featured Flowers */

.flowers h2{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 150px;
    margin-bottom: 24px;
}
.flowers p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.flower-container{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 24px;
}
.figure{
    border: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding-top: 60px;
    padding-left: 47px;
    padding-right: 47px;
    
}
figcaption{
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 128px;
}
#img1{
    background: rgba(167, 33, 98, 0.15);    
}
#img2{
    background: rgba(5, 151, 160, 0.15);
}
#img3{
    background: rgba(71, 125, 17, 0.15);
}
.figure img{
    width: 310px;
    height: 428px;
}

/* All button Style */
#btn{
    color: #ffffff;
    background: #E55473;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 43px;
    border: none;
    border-radius: 10px;
}
.banner-img{
    height: 800px;
    width: 635px;
    padding-top: 50px;
}
 /* Hot-deals section */
 
.hot-deals{
    padding: 50px;
    align-items: center;
}
.hot-deals{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    gap: 50px;
}
.hot-deals-discription h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    padding-top: 230px;
    margin-bottom: 32px;
}
.hot-deals-discription p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 32px;
}
span{
    color: #E55473;
}
#btn{
    align-items: center;
    color: #ffffff;
    background: #E55473;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 43px;
    border: none;
    border-radius: 10px;
}
.hot-deal-btn-container {
    text-align: center;
}
/* Instagram Section */

.instagram h1{
    padding-top: 120px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.instagram p{
    padding-top: 24px;
    padding-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 30px;
}
.box img{
    width: 290px;
    height: 320px;
    padding-bottom: 100px;
}
/* Bonus Section Buy finest flower from us */
.finest-flower{
    text-align: center;
}
.finest-flower img {
    width: 100%;
    height: 300px;
}
.finest-flower h1{
    padding-top: 50px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.finest-flower p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.flower-box{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
    padding-left: 40px;
    padding-bottom: 120px;

}
.flower-box a{
    color: #FFF;
    text-decoration: none;
}
#box1{
    border: 1px solid #d3d3d3;
    box-shadow: 20px 20px 50px #eee;    
}
#box1 h3{
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 0px;

}
#box1 p{
    font-size:18px;
    margin-bottom: 0px;
    padding: 20px;
}
.box-btn{
    align-items: center;
    color: #ffffff;
    background: #E55473;
    font-weight: 700;
    font-size: 15px;
    padding: 18px 40px;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* Get The latest deals */

.deals{
    background-image: url('../images/Rectangle 9.png');
    object-fit: contain;
    text-align: center;
    width: 1440;
    height: 449px;
    background-repeat: no-repeat;
    margin: 50px 0px 128px 40px;
}
.deals-discription h1{
    padding-top: 122px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}
.deals-discription p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.deals-discription input{
    width: 700px;
    height: 64px;
    border: none;
    padding-left: 22px;
    text-align: left;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400; 
    margin-right: 10px;
}

/* Footer Section */

.footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.90);
    padding: 128px;
}
.footer-discription{
    text-align: center;
}
.footer-discription p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:32px;
}
.footer-discription h1{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 800px;
}
.footer p{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.copyright p{
    align-items: start;
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    padding-top: 5px;
    padding-bottom: 5px;
}





